[DEFAULT]
ignoreip  = 127.0.0.1/8 {{ ansible_default_ipv4.address }} {{ ' '.join(friendly_networks) }}
bantime   = 86400
destemail = {{ admin_email }}

[pam-generic]
enabled   = true


#[apache]
#enabled = true

